<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Livros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-button size="small" color="warning">Atualizar</ion-button>
      <ion-button size="small" color="danger">Apagar</ion-button>
    </ion-item>
  </ion-list>

  <!-- fab placed to the (vertical) center and end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openFileModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Todos os livros disponiveis</ion-card-subtitle>
        <ion-card-title>Lista de livros</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let livro of livros" 
          (click)="irParaDestino(livro)">
            <ion-card-header>
              <ion-card-subtitle>Editora: {{ livro.autor }}</ion-card-subtitle>
              <ion-card-title>Livro: {{ livro.nome }}</ion-card-title>
          </ion-card-header>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>


  </ion-content>

</ion-content>